<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<% Object.keys(meta).forEach((key)=>{ %>
        <meta name="<%= key %>" content="<%= meta[key] %>">
    	<% }) %>
		<link rel="canonical" href="<%= canonicalUrl %>">
		<% if(typeof og !== 'undefined' && og){ %>
			<% Object.keys(og).forEach((key)=>{ %>
				<meta property="<%= 'og:'+key %>" content="<%= og[key] %>">
			<% }) %>
		<% } %>
		<% if(typeof twitter !== 'undefined' && twitter){ %>
			<% Object.keys(twitter).forEach((key)=>{ %>
				<meta name="<%= 'twitter:'+key %>" content="<%= twitter[key] %>">
			<% }) %>
		<% } %>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8887540917989782" crossorigin="anonymous"></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-SNQZ6LWCKB"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'G-SNQZ6LWCKB');
		</script>
	</head>
<body>
	<header>
		<div class="container">
			<div class="logo">
				<a href="/">
					<span>Caloric</span>
				</a>
			</div>
			<div class="headerRight">
				<div id="user-greeting" class="hidden"></div>
				<nav id="nav-anonymous">
					<div class="btnLoginRegister">
						<a id="open-login-modal-btn">Login</a>
						<button id="open-register-modal-btn" class="action">Registar</button>
					</div>
				</nav>
				<nav id="nav-logged-in" class="hidden">
					<button id="logout-btn">Sair</button>
				</nav>
			</div>
		</div>
	</header>
	<%- include('../modals/modal.ejs', {modal:'login'}) %>
	<%- include('../modals/modal.ejs', {modal:'register'}) %>